# SA:MP server related files
*.dll
*.exe
*.amx
*.RDP
server_log.txt
server.cfg
start.bat
crashinfo.txt

# My private SS resources
private/
gamemodes/sss/extensions/
gamemodes/ScavengeSurvive.tar.gz

# Sublime stuff
*.sublime-workspace

# stuff no one else needs
*.lnk
misc/*.jpg

# Python stuff
__pycache__/
*.py[cod]
*$py.class
*.pyc

misc/config.json
*.mmd
misc/logmarkov.cfg

scriptfiles/geoip.db
scriptfiles/geoip_city.db
scriptfiles/SAfull.hmap
scriptfiles/SAfull.jpg
scriptfiles/Maps/
