*.dll
*.exe
*.amx
*.RDP
scriptfiles/
server_log.txt
server.cfg
start.bat
*.sublime-workspace
*.sublime-project
*.pyc
settings.williames
autoissue/
*.lnk
gamemodes/sss/extensions/
gamemodes/ScavengeSurvive.tar.gz
*.xml
*.bat
gamemodes/sss/core/server/anti-cheat.pwn
